force-app/main/default/flows/Invocable_LoanTermAdjustment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Adjust_Payment_Plans</name>
        <label>Adjust Payment Plans</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>LoanTermAdjustmentInvoker</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Adjustment_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>loanIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoanTermAdjustmentInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <customErrors>
        <description>Handles error when the loan term exceeds the maximum allowed for secured loans.</description>
        <name>Error_Term_Exceed_Limit</name>
        <label>Error: Loan Term Exceed Limit</label>
        <locationX>528</locationX>
        <locationY>623</locationY>
        <customErrorMessages>
            <errorMessage>Loan term exceeds maximum allowed for Secured loans (6 months).</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Handles unexpected errors during payment plan adjustment.</description>
        <name>Error_Adjustment_Failed</name>
        <label>Error: Payment Plan Adjustment Failed</label>
        <locationX>528</locationX>
        <locationY>723</locationY>
        <customErrorMessages>
            <errorMessage>Unable to adjust payment plans. Please try again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Handles error when the loan term exceeds the maximum allowed for unsecured loans.</description>
        <name>Error_Term_Exceed_Limit_Unsecured</name>
        <label>Error: Loan Term Exceed Limit (Unsecured)</label>
        <locationX>728</locationX>
        <locationY>623</locationY>
        <customErrorMessages>
            <errorMessage>Loan term exceeds maximum allowed for Unsecured loans (12 months).</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decision_Term_Exceed_Limit</name>
        <label>Decision: Loan Term Exceed Limit</label>
        <locationX>528</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Adjust_Payment_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secured_Term_Exceeds_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Term__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Term_Exceed_Limit</targetReference>
            </connector>
            <label>Secured Term Exceeds Limit</label>
        </rules>
        <rules>
            <name>Unsecured_Term_Exceeds_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsecured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Term__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Term_Exceed_Limit_Unsecured</targetReference>
            </connector>
            <label>Unsecured Term Exceeds Limit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Invocable LoanTermAdjustment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invocable LoanTermAdjustment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Term_Exceed_Limit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Term__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Loan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
